{% extends 'users/userlayout.html' %}
{% load static %}

{% block content %}
{% load bootstrap3 %}

<script src="{% static 'user/js/profile.js' %}"></script>


<div class="container">
  <h3>Create Profile</h3>
    {% bootstrap_messages %}
  <form action="" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {% bootstrap_form form %}

      <h3>Skills</h3>

      <div class="container">
          <div class="skillblk">
              <div class="skillrows">
                  <div class="col-md-6">
                      <input type="text" class="form-control m-input" name="skill" placeholder="Enter Skills">
                  </div>
                  <div class="col-md-3">
                      <div class="input-group-prepend">
                          <button class="btn btn-danger remove" id="DeleteRow" type="button"><i class="bi bi-trash"></i>Delete</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="container">
        <div id="skillsappend"></div>
        <br>
           <div class="col-md-3">
               <button id="rowAdder" type="button" class="btn btn-dark addskill" style="background-color: #000;color: #fff;">
                   </span> ADD Rows</button>
           </div>
      </div>
      <br>

      <h3>Education</h3>
      <div class="container">
          <div class="educationblk">
              <div class="educationrows">
                  <div class="col-md-3">
                      <input type="text" class="form-control m-input" name="course" placeholder="Enter Course">
                  </div>
                  <div class="col-md-3">
                      <input type="text" class="form-control m-input" name="academicyear" placeholder="Enter Academic Year">
                  </div>
                  <div class="col-md-3">
                      <input type="text" class="form-control m-input" name="percentage" placeholder="Enter Percentage">
                  </div>
                  <div class="col-md-3">
                      <div class="input-group-prepend">
                          <button class="btn btn-danger remove-edu" type="button"><i class="bi bi-trash"></i>Delete</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="container">
          <div id="educationappend"></div>
          <br>
          <div class="col-md-3">
              <button type="button" class="btn btn-dark addedu" style="background-color: #000;color: #fff;">
                   </span> ADD Rows</button>
          </div>
      </div>
      <br>

      <h3>Experience</h3>
      <div class="container">
            <div class="experienceblk">
                <div class="experiencerows">
                    <div class="col-md-2">
                      <input type="text" class="form-control m-input" name="company" placeholder="Enter Company name">
                  </div>
                    <div class="col-md-2">
                      <input type="text" class="form-control m-input" name="location" placeholder="Enter Location">
                  </div>
                  <div class="col-md-2">
                      <input type="text" class="form-control m-input" name="startyear" placeholder="Enter Joined Year">
                  </div>
                    <div class="col-md-2">
                      <input type="text" class="form-control m-input" name="endyear" placeholder="Enter Resigned year">
                  </div>
                    <div class="col-md-2">
                      <div class="input-group-prepend">
                          <button class="btn btn-danger remove-exp" type="button"><i class="bi bi-trash"></i>Delete</button>
                      </div>
                  </div>
                </div>
            </div>
      </div>


      <br>
      <div class="container">
          <div id="experienceappend"></div>
          <br>
          <div class="col-md-3">
              <button type="button" class="btn btn-dark addexp" style="background-color: #000;color: #fff;">
                   </span> ADD Rows</button>
          </div>
      </div>
      <br>

      <h3>Certification</h3>
      <div class="container">
          <div class="certificationblk">
              <div class="certificationrows">
                   <div class="col-md-3">
                    <input type="text" class="form-control m-input" name="cerificatename" placeholder="Enter Certificate Name">
                   </div>
                  <div class="col-md-3">
                        <input type="text" class="form-control m-input" name="institutename" placeholder="Enter Institution">
                   </div>
                  <div class="col-md-3">
                        <input type="text" class="form-control m-input" name="completedyear" placeholder="Enter Year">
                  </div>
                  <div class="col-md-3">
                      <div class="input-group-prepend">
                          <button class="btn btn-danger remove-cert" type="button"><i class="bi bi-trash"></i>Delete</button>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <br>
       <div class="container">
            <div id="certificationappend"></div>
            <br>
           <div class="col-md-3">
              <button type="button" class="btn btn-dark addcertification" style="background-color: #000;color: #fff;">
                   </span> ADD Rows</button>
          </div>
       </div>
       <br>

<button type="submit" class="btn btn-primary">Submit</button>
      <br>  <br>
  </form>
</div>

{% endblock %}
